[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
jupyter = "*"
matplotlib = "*"
opencv-python = "*"
tensorflow-hub = "*"
pyyaml = "*"
tqdm = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.9"
